chart-details, chart-editor {
    display: inline-block;
    vertical-align: top;
    line-height: 2.2;
    margin: 10px;
}

chart-description {
    padding-left: 20px;
    display: block;
    margin: 60px 0;
}
.wrapper {
    background: #f8f8f8;
    padding: 20px;
}

.back-btn {
    float: right;
    color: #337ab7;
    font-size: 16px;
    margin-right: 80px;
}

.back-btn:hover {
    border-bottom: 1px solid #337ab7;
}

.back-btn a:hover {
    text-decoration: none;
}